@{
  Layout = "_Layout";
}
@using SweetShop.Models;
@model SweetShop.Models.Treat

<h2>Edit Treat Details:</h2>

<hr />
<h3>@Html.DisplayFor(model => model.Name)</h3>
<br>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)
  @Html.Label("Change Name")
  @Html.EditorFor(model => model.Name)

  @Html.Label("Edit Assigned Flavor")
  @Html.DropDownList("FlavorId")

  <br>
  <br>
  <input type="submit" value="Submit" required="true" />
}
<ul>
  <li>@Html.ActionLink("back to Home", "Home")</li>
</ul>