@{
  Layout = "_Layout";
}
@using SweetShop.Models;

<h1>Welcome to the Sweet Shop!</h1>
<p>Heres a list of treats (Please make a selsection to see details)</p>


<h1>Treats</h1>

@if (@ViewBag.AllTreats.Count == 0)
{
  <h3>No treats have been added yet!</h3>
}

<ul>
  @foreach (Treat treat in @ViewBag.AllTreats)
  {
    <li>@Html.ActionLink($"{treat.Name}", "Details", "Treats", new { id = treat.TreatId })</li>
          
  }
    <p>@Html.ActionLink("Add new Treat", "Create", "Treats")</p>
</ul>

<h1>Flavors</h1>

@if (@ViewBag.AllFlavors.Count == 0)
{
  <h3>No flavors have been added yet!</h3>
}
@if (@ViewBag.AllFlavors.Count != 0)
{
<ul>
  @foreach (Flavor flavor in @ViewBag.AllFlavors)
  {
    <li>@Html.ActionLink($"{flavor.Name}", "Details", "Flavors", new { id = flavor.FlavorId })</li>
  }
  <p>@Html.ActionLink("Add new Flavor", "Create", "Flavors")</p>
</ul>
}


@if (User.Identity.IsAuthenticated)
{  <p>@User.Identity.Name is signed in.</p> 
   @using (Html.BeginForm("LogOff", "Account"))
    {
        <input type="submit" class="btn btn-default" value="Log out" />
    }

} else 

{
  <p>No user is signed in. Select option to continue:</p>

  <p>@Html.ActionLink("Create an account", "Index", "Account")</p>
}