@{
  Layout = "_Layout";
}
@using SweetShop.Models;

<h1>Welcome to the Sweet Shop!</h1>
<h2>Heres a list of sweets (Please select to see details</h2>


<h1>Sweets</h1>

@if (@Viewbag.AllSweets.Count == 0)
{
  <h3>No sweets have been added yet!</h3>
}

<ul>
  @foreach (Sweet sweet in Viewbag.AllSweets)
  {
    <li>@Html.ActionLink($"{sweet.Name}", "Details", new { id = sweet.SweetId })</li>
  }
</ul>


<p>@Html.ActionLink("See all Sweets", "Index", "Sweets")</p>
<p>@Html.ActionLink("See all Flavors", "Index", "Flavors")</p>

@if (User.Identity.IsAuthenticated)
{  <p>@User.Identity.Name is signed in.</p> 
   @using (Html.BeginForm("LogOff", "Account"))
    {
        <input type="submit" class="btn btn-default" value="Log out" />
    }
} else 
<p>No user is signed in. Select option to continue:</p>
{
   @using (Html.BeginForm("Register", "Account"))
    {
        <input type="submit" class="btn btn-default" value="Register" />
    }
   @using (Html.BeginForm("Login", "Account"))
    {
        <input type="submit" class="btn btn-default" value="Login" />
    }


<p>@Html.ActionLink("Login to exsiting account", "Login", "Account")</p>
}